# This file includes environment variables that will be committed to git by default.

# Built-in environment variables
TEAMSFX_ENV=dev
APP_NAME_SUFFIX= (dev)

# Generated during provision, you can also add your own variables.
BOT_ID="Azure Bot resource's Microsoft App ID"
TEAMS_APP_ID=
TEAMS_APP_TENANT_ID="Azure Teams App Tenant ID"